.landing{
    width:100%;
    height:100%;
    top:0;
    right:0;
    margin-top:100px;
    bottom:0;
    left:0;
    padding:0 !important;
    overflow: hidden !important;
}
.landing .row{
    padding-top:50px !important;
}
.landing .card{
    width:100%;
}
.landing .intro{
    background:transparent !important;
    box-shadow: none !important;
}
.landing .intro .header{
    color:#5F3EC8 !important;
}
.welcomeheader{
    color:#f1f1f1 !important;
    font-family:'Ubuntu',sans-serif !important;
    font-size:40px !important;
    float:left;
}
.signupcontainer{
    /* max-width:500px; */
    margin:30px 20% auto !important;
    position: fixed !important;
    right:20px;
    top:40px;
    display: flex;
}
.signupcontainer.hide{
    display: none;
}
.signupcontainer .signup{
    width:100% !important;
}
.pie:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 600ms;
    transform: scale(.99,.99);
}
.centered button{
    background-color: #5F3EC8 !important;
}
.lastrow{
    background-image:linear-gradient(-90deg,#2C6BB5,#9200EB);
}
.lastrow .card{
    background-color:transparent !important;
    font-family:'Ubuntu',sans-serif;
    box-shadow: none !important;
}
.chartrow .card{
    width: 100% !important;
}
.chartrow .card .header{
    font-size:20px;
    font-family: 'Ubuntu',sans-serif;
    padding:10px;
    background-color: #e9e9e9;
    color: #2C6BB5;
    min-height:50px;
}
.whatwedo{
    background-image:linear-gradient(-90deg,#2C6BB5,#9200EB);
}
.whatwedo .card{
    background:transparent;
    box-shadow:none !important;
}
.whatwedo .card .header{
    color:#fafafa;
    font-size:40px;
}
.whatwedo .card .content p{
    color:#c0c0c0 !important;
}
.onlinedesc{
    color:#c0c0c0;
    font-weight: bold;
    font-size: 20px;
}
.lastrow .icon{
    font-size:50px;
    color:#fafafa;
}
.lastrow .card .header{
    font-size:30px;
    color:#fafafa;
    text-decoration: underline;
}
.lastrow .card .content{
    color:#c0c0c0;
    border:0 !important;
}

@media(max-width:768px){
    .chartrow .card{
        position: relative;
        border-radius:0 !important;
        min-width:100vw !important;
        margin-left:-10px;
    }
    .button.centered{
        margin:0 21% !important;
    }
    .chartrow{
        padding:0 !important;
    }
    .loginsignup{
        margin:0 6% !important;
    }
    .chartrow .column{
        min-width:100vw !important;
        padding:0 !important;
    }
}
